body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.stores-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.stores-item {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 10px;
    width: calc(33.33% - 40px);
}

@media screen and (max-width: 768px) {
    .grocery-item {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .grocery-item {
        width: 100%;
    }
}

/* .background {
    padding: 8%;
    text-align: center;
} */

.background {
    /* Replace 'path/to/your/image.jpg' with the actual path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 70%;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.5)), url('css/elements');*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.616), rgba(88, 88, 88, 0.438)), url('https://images.unsplash.com/photo-1516594798947-e65505dbb29d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
}

.text-xl-start {
    color: rgb(255, 255, 255);
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
}

.text-md-start {
    color: rgb(255, 255, 255);

}

.content {
    padding: 20px;
}

.footer {
    padding: 30px 0;
}

.footer h4 {
    margin-bottom: 20px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.imagenote {
    height: 17%;
    width: 20%;
}

.text-center button.btn {
    background-color: black;
}

.cart-link {
    color: white;
    background-color: blue;
}